

<div>
    <nav style="margin-top:0px;">
      <ul>
        <li><a href="/">Home</a></li>
        <li> </li>
        <li><a href="/about">About</a></li>
        <li> </li>
        <li><a href="#">Custom Orders</a></li>
        <li> </li>
        <li><a href="#">Catalogue</a></li>
        <li> </li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
</div>

<%= image_tag "naomi.png"%></h1>
