

<div>
    <nav style="margin-top:0px;">
      <ul>
        <li><a href="/">Home</a></li>
        <li> </li>
        <li><a href="/about">About</a></li>
        <li> </li>
        <li><a href="#">Custom Orders</a></li>
        <li> </li>
        <li><a href="#">Catalogue</a></li>
        <li> </li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
</div>
<div class="container" style="border-radius:20px; display: flex; align-items: center;">
  <%= image_tag "naomi.png", height: "400px", style: "margin-right: 20px;" %>
  <h5 style="color:#7F472E; font-weight: 200; flex: 1;">Hey there! I’m Naomi, and I’m so glad you stopped by my little corner of the internet. Just a bit about me: I’m based in the breathtaking country of Portugal, where the sun kisses the earth and the sea embraces the shore. This enchanting place has not only captured my heart, but also ignited my passion for ceramics.
      My journey began when I found myself intrigued by the art of ceramics. I was drawn to the way clay could be transformed into something beautiful and functional, connecting the hands of the artist with the hands of the user. It didn’t take long before I bought my very first pottery wheel, and from that moment on, my life changed. I knew I was head over heels in love with ceramics and decided to turn this newfound passion into my full-time occupation.
      One thing you should know about me is that I’m absolutely committed to making sure each piece I create is unique, just like the people they’re made for. I firmly believe in celebrating the individuality and personal stories that each piece carries with it. That’s why I’m more than happy to take on custom orders – it’s an opportunity for me to collaborate with you and bring your creative vision to life, crafting a piece that truly represents who you are.
      Because I believe that art should be accessible to everyone, I always strive to offer my creations at a fair price. I want my pieces to be cherished by all who appreciate the beauty of handmade ceramics, regardless of their budget. After all, the love for art and the joy it brings should be something everyone can experience.
      As a self-proclaimed ceramics fanatic, I’m constantly experimenting with new techniques, materials, and ideas to create extraordinary pieces that’ll catch your eye and steal your heart. I’m always eager to push the boundaries of my craft, challenging myself to go beyond the ordinary and discover innovative ways to express my creativity.
      So, have a look around, get inspired, and let’s create something amazing together! I’m beyond thrilled to share my passion with you, and I can’t wait to see what incredible ideas we’ll dream up. Welcome to my world of ceramics – it’s time to dive in and get our hands dirty!
  </h5>
</div>
