<div class="container mt-4">
  <div>
    <nav class="container mt-4" style="margin-top:0px;">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/" style="color: #7F472E;">Home</a>
    </li>
    <li class="nav-item" style="font-size: 20px;">❁</li>
    <li class="nav-item">
      <a class="nav-link" href="/about" style="color: #7F472E;">About</a>
    </li>
    <li class="nav-item" style="font-size: 20px;" >❁</li>
    <li class="nav-item">
      <a class="nav-link" href="/products" style="color: #7F472E;">Shop</a>
    </li>
    <li class="nav-item" style="font-size: 20px;">❁</li>
    <li class="nav-item">
      <a class="nav-link" href="/bubble_mugs" style="color: #7F472E;">Bubble Mugs</a>
    </li>
    <li class="nav-item" style="font-size: 20px;">❁</li>
    <li class="nav-item">
      <a class="nav-link" href="/contact" style="color: #7F472E;">Contact</a>
    </li>
  </ul>
</nav>
</div>
      <!-- content here -->
 <%= image_tag("NKillustrations_hands.png", class: "image-behind-components", style: "position: fixed;") %>

<%# <a href="/" style= " position: absolute;
  top: 20px; left: 20px;  font-size: 24px; margin-right: 5px;"><i class="fas fa-arrow-circle-left"></i></a> %>
<%# <a href="/" style= "position: absolute; top: 20px; left: 20px; font-size: 24px; margin-right: 5px;"><i class="fas fa-arrow-circle-left"></i></a> %>
<div style="margin-top: 50px;">
  <h5 style="color: #7F472E; font-weight: 200; max-width: 600px; text-align: center; margin: 0 auto 30px; font-family: 'Sarabun', sans-serif;">Feel free to use this form for custom orders or any questions you may have! Alternatively, you can also contact me on <a href="https://www.instagram.com/nkeramics/">Instagram</a> and via <a href="https://wa.me/351962620650">WhatsApp</a>! I look forward to it! ♥︎</h5>
  <form id="my-form" action="https://formspree.io/f/xayzvyoa" method="POST">
    <label style="color: #7F472E; font-weight: 200; font-family: 'Sarabun', sans-serif;">Email:</label>
    <input type="email" name="email" />
    <label style="color: #7F472E; font-weight: 200; font-family: 'Sarabun', sans-serif;">Message:</label>
    <textarea name="message"></textarea>
    <button id="my-form-button" style="text-align: center; margin: 0 auto;">Send Message</button>
    <p id="my-form-status"></p>
  </form>
</div>


<!-- Place this script at the end of the body tag -->
<script>
    var form = document.getElementById("my-form");

    async function handleSubmit(event) {
      event.preventDefault();
      var status = document.getElementById("my-form-status");
      var data = new FormData(event.target);
      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
            'Accept': 'application/json'
        }
      }).then(response => {
        if (response.ok) {
          status.innerHTML = "Thanks for your submission!";
          form.reset()
        } else {
          response.json().then(data => {
            if (Object.hasOwn(data, 'errors')) {
              status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
            } else {
              status.innerHTML = "Oops! There was a problem submitting your form"
            }
          })
        }
      }).catch(error => {
        status.innerHTML = "Oops! There was a problem submitting your form"
      });
    }
    form.addEventListener("submit", handleSubmit)
</script>
</div>

<style>
  .image-behind-components {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
</style>
