<a href="/" style= " position: absolute;
  top: 20px; left: 20px;  font-size: 24px; margin-right: 5px;"><i class="fas fa-arrow-circle-left"></i></a>
<div>
    <nav style="margin-top:0px;">
      <ul>

        <li><a href="/about">About</a></li>
        <li style="font-size: 20px;">❁</li>
        <li><a href="/lessons">Lessons</a></li>
         <li style="font-size: 20px;">❁</li>
        <li><a href="#">Catalogue</a></li>
         <li style="font-size: 20px;">❁</li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
</div>

 <div class="container" style="border-radius:20px; display: flex; align-items: center; max-width: 1200px; margin-top:60px;">
  <%= image_tag "nomile1.jpeg", height: "350px", width: "350px", style: "margin-right: 20px; opacity:0.9; object-fit: cover;" %>

 <h5 style="color:#7F472E; font-weight: 200; flex: 1;">
  Should you be interested in learning how to make your own custom pieces, I also offer lessons. Please feel free to contact me to check for availabilies and let's get our hands dirty and create some magic!
  <ul style="list-style-type: disc; margin-left: 20px;">
    <li>I charge 15 euros an hour, however, depending on how many lessons you feel you want to take we can negotiate this. Lessons also include firing and glazing of your projects.</li>

  </ul>
</h5>

</div>
